/* used style for mobile*/
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .address-header {
    display: none;
  }
  .main-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mobile-menu-burger {
    border: none;
    padding: 0;
    background: transparent;
    height: 22px;
    cursor: pointer;
  }
  .mobile-menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu-open-icon {
    stroke: var(--title-text-color);
  }
  .mobile-menu {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;

    background-color: var(--background-work-card);
    box-shadow: 0px 2px 1px 100vmax rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms, visibility 500ms;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 23px;
    right: 19px;
    cursor: pointer;
    /*  Set transition values  */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-icon {
    fill: var(--background-hero-color);
  }

  .mobile-close-btn:hover {
    background-color: var(--social-background-hover);
    color: var(--modal-close-active);
  }
  .mobile-site-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }
  .mobile-site-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-site-nav-link .link:hover,
  .mobile-site-nav-link .link:focus {
    color: var(--hover-text-color);
  }

  .mobile-address-nav {
    font-style: normal;
    max-width: 353px;
  }
  .mobile-address-nav-item {
    display: block;
  }
  .mobile-tel-nav-link {
    display: block;
    font-weight: 700;
    font-size: calc(
      min(36px, 25px + (36 - 25) * ((100vw - 320px) / (428 - 320)))
    );
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--button-main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
  }
  .contact-text {
    color: var(--button-hover-color);
  }

  .mobile-address-nav-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    /* margin-top: 40px; */
    margin-bottom: 48px;
  }
  /* mobile-menu-social */
  .mobile-menu-social-wrap {
    width: 100%;
    /* margin-right: 80px; */
  }
  .mobile-menu-social-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 328px;
    align-content: center;
    justify-content: space-between;
  }
  .mobile-menu-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--social-background-color);
    /*  Set transition values  */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    background-color: var(--social-background-hover);
  }
  .social-nav-icon {
    fill: var(--social-icon-color);
  }
  /*  section Team*/
  .team-nav {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}
/* used style for tablet*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-burger {
    display: none;
  }

  .menu-nav {
    display: flex;
    align-items: center;
  }

  /* nav in header*/
  .site-nav {
    display: flex;
    margin-left: 120px;
  }
  .site-nav-item {
    margin-right: 40px;
  }
  .site-nav .site-nav-item:last-child {
    margin-right: 0;
  }

  .site-nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--hover-text-color);
  }
  .line-nav {
    position: relative;
  }
  .line-nav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;

    background: var(--button-hover-color);
    border-radius: 2px;
    bottom: -2px;
  }
  /* nav address in header*/
  .address-header {
    font-style: normal;
    margin-left: auto;
    margin-right: 0;
  }
  .address-nav-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-nav {
    display: block;
  }
  .address-nav-item:first-child {
    margin-bottom: 12px;
  }

  .address-nav .link:hover,
  .address-nav .link:focus {
    color: var(--hover-text-color);
  }
  /* style Hero section+button */
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
    max-width: 1199px;
  }
  .hero-text {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  /* section About Our goal*/
  .goal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }
  .goal-nav {
    max-width: 356px;
    margin-bottom: 0;
  }
  .goal-nav-item {
    text-align: left;
  }

  /*  section Team*/
  .container-for-tablet {
    max-width: 552px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  /* Customers*/

  .customers-list {
    gap: 72px 24px;
  }
  .customers-link-icon {
    width: 168px;
  }

  /* footer+subscribe-form */
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
    /* margin-left: 108px; */
  }

  .footer-text-first {
    display: block;
    padding-top: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .footer-logo-wrap {
    width: 268px;
    margin: 0;
  }
  .footer-social-wrap {
    margin: 0;
  }
  /* subscribe-form */
  .subscribe-form-wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-social {
    text-align: left;
  }
  .subscribe-title-text {
    text-align: start;
  }
  .subscribe-footer-input {
    max-width: 264px;
    margin-left: 0;
    margin-right: 0;
  }
  .subscribe-btn {
    margin-left: 0;
  }
  .modal {
    max-width: none;
    width: 408px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}
/* used style for desktop*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .site-nav {
    margin-left: 76px;
  }
  .address-header {
    display: flex;
  }
  .address-nav {
    display: flex;
  }
  .address-nav-item:first-child {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .address-nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* style Hero section+button */
  .hero-section {
    padding-top: 190px;
    padding-bottom: 190px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleofficeopt.jpg);
    max-width: 1440px;
  }
  .hero-text {
    margin-bottom: 64px;
  }
  /* section About Our goal*/

  .goal-main {
    padding: 120px 0;
  }
  .goal-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 24px;
  }
  .goal-nav {
    flex-basis: calc((100%-72px) / 4);
  }
  .goal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background: var(--background-button-color);
    border-radius: 4%;
  }
  .goal-nav-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .goal-nav-text {
    margin: 0;
    font-weight: 400;
  }
  /* footer+subscribe-form */
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    padding-left: 15px;
  }
  .subscribe-form {
    width: 453px;
    margin-right: 0;
    margin-left: auto;
  }
  .footer-logo-wrap {
    margin-right: 120px;
  }
}
@media screen and (max-width: 1199px) {
  .doing-main {
    display: none;
  }
  .goal-icon {
    display: none;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleofficeopt@2x.jpg);
  }
}
