:root {
  --main-text-color: #434455;
  --title-text-color: #2e2f42;
  --logo-text-color: #4d5ae5;
  --hover-text-color: #404bbf;
  --background-hero-color: #2e2f42;
  --hero-text-color: #ffffff;
  --button-main-color: #4d5ae5;
  --button-hover-color: #404bbf;
  --button-text-color: #ffffff;
  --background-button-color: #f4f4fd;
  --background-team-color: #f4f4fd;
  --background-team-card: #ffffff;
  --background-footer-color: #2e2f42;
  --logo-footertext-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --background-main-section: #e5e5e5;
  --background-work-card: #ffffff;
  --social-icon-color: rgba(244, 244, 253, 1);
  --social-background-color: rgba(77, 90, 229, 1);
  --social-background-hover: rgba(64, 75, 191, 1);
  --customer-border-color: rgba(142, 143, 153, 1);
  --customer-logo-color: rgba(142, 143, 153, 1);
  --footer-social-color: #31d0aa;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --modalwindow-color: #fcfcfc;
  --background-modal-color: #e7e9fc;
  --modal-close-normal: rgba(46, 47, 66, 1);
  --modal-close-active: rgba(255, 255, 255, 1);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--background-team-card);
}
/* global border-box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* local zeroing margin&padding */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset styles in the list*/
.list {
  list-style: none;
}
/* style for main page*/
/* reset styles in the link*/
.link {
  text-decoration: none;
  font-style: normal;
}
/* container*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/*style header*/
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.main-wrap {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
}
/* logo header*/

.logo-text-first {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
}
.logo-text-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/* nav in header*/

.site-nav {
  display: flex;
  margin-left: 76px;
}
.site-nav-item {
  margin-right: 40px;
}
.site-nav .site-nav-item:last-child {
  margin-right: 0;
}
.site-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  /*  Set transition values  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-text-color);
}
.line-nav {
  position: relative;
}
.line-nav::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;

  background: var(--button-hover-color);
  border-radius: 2px;
  bottom: -2px;
}

/* nav address in header*/
.address-header {
  font-style: normal;
  margin-left: auto;
}
.address-nav-link {
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  /*  Set transition values  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav {
  display: flex;
}
.address-nav .address-nav-item + .address-nav-item {
  margin-left: 42px;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--hover-text-color);
}
/* Hero section+button*/
.hero-section {
  text-align: center;
  background-color: var(--background-hero-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleofficeopt.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-text {
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--hero-text-color);
}
.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  font-family: inherit;
  background-color: var(--button-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--button-text-color);
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-color);
}
/* section About Our goal*/
/* h2 hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.goal-main {
  padding: 120px 0;
}
.goal-list {
  display: flex;
  gap: 24px;
}
.goal-nav {
  flex-basis: calc((100%-72px) / 4);
}
.goal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background: var(--background-button-color);
  border-radius: 4%;
}
.goal-nav-item {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.goal-nav-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/*  section What are we doing*/
.doing-main {
  padding: 0 0 120px 0;
}
.doing-nav {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
}
.doing-header {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-text-color);
}
.doing-nav-item {
  flex-basis: calc((100%-24 * 2) / 3);
}

/*  section Team*/
.team-sect {
  padding: 120px 0;
  background-color: var(--background-team-color);
}
.team-nav {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
}
.team-header {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-text-color);
}

.team-nav-items {
  flex-basis: calc((100%-24 * 3) / 4);
  background-color: var(--background-team-card);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-nav-name {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.team-nav-position {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.container-card {
  padding: 32px 0;
}
.social-nav {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
}
.social-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--social-background-color);
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-nav-link:hover,
.social-nav-link:focus {
  background-color: var(--social-background-hover);
}

.social-nav-icon {
  fill: var(--social-icon-color);
}

/* Customers*/
.customers-main {
  padding: 120px 0;
  background-color: var(--background-work-card);
}
.customers-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
}
.customers-header {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-text-color);
  /* outline: 1px solid red; */
}
.customers-link-icon {
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--customer-logo-color);

  border: 1px solid var(--customer-border-color);
  border-color: var(--customer-border-color);
  border-radius: 4px;
  /*  Set transition values  */
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link-icon:hover,
.customers-link-icon:focus {
  color: var(--hover-text-color);
}
.customers-link-icon:hover,
.customers-link-icon:focus {
  border: 1px solid var(--hover-text-color);
}

/*  footer*/
.footer-main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-footer-color);
}
.footer-logo-wrap {
  margin-right: 120px;
}
.footer-text-first {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
}

.footer-text-second {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footertext-color);
}
.footer-text {
  margin-top: 16px;
  margin-bottom: 0;
  width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
.footer-wrap {
  display: flex;
  /* flex-wrap: wrap;
  gap: 120px; */
}
.footer-social-wrap {
  width: 208px;
  margin-right: 80px;
}
.footer-social {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 1.5px; */
  letter-spacing: 0.02em;
  color: var(--button-text-color);
}
.footer-social-nav {
  display: flex;
  align-content: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--footer-social-color);
}
/* modal window */
.backdrop {
  position: fixed;
  height: 100%;
  width: 1440px;
  left: 0px;
  top: 0px;
  background-color: var(--backdrop-color);
  transition: visibility 350ms linear, opacity 350ms linear;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  top: 88px;
  background: var(--modalwindow-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  /*  Set transition values  */
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 350ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scalex(0) rotate(-60deg);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-modal-color);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  fill: currentColor;
}
.modal-close-btn:hover {
  background-color: var(--social-background-hover);
  color: var(--modal-close-active);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* modal-form */
.modal-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  /* Set transition values */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-label-wrap {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  display: block;
  fill: var(--modal-close-normal);
  /* Set transition values  */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  width: 100%;
  border: 1px solid var(--backdrop-color);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  /*  Set transition values  */
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--backdrop-color);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--social-background-color);
}
.modal-form-input:focus:focus + .modal-form-input-icon {
  fill: var(--social-background-color);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--social-background-color);
}
.modal-form-check-desk {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* LIGHT SLATE */
  color: var(--customer-logo-color);
  margin-bottom: 24px;
}
.modal-form-check-desk a {
  color: var(--button-main-color);
  outline: transparent;
}
.modal-form-check-desk::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: '';
  border: 1px solid var(--backdrop-color);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-right: 8px;
  background-color: inherit;
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-check-desk::before {
  background-image: url(../images/check.svg);
  background-color: var(--button-main-color);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: center;
  border-color: var(--button-main-color);
}
.modal-submit-btn {
  align-self: center;
  min-width: 169px;

  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--background-team-card);

  background: var(--button-main-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--button-hover-color);
}

.modal-form-check-desk a:hover,
.modal-form-check-desk a:focus {
  text-decoration: underline;
}
/* subscribe-form */
.subscribe-form-wrap {
  display: flex;
  gap: 24px;
}
.subscribe-form {
  /* min-width: 453px; */
}
.subscribe-title-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 1.5; */
  letter-spacing: 0.02em;
  color: var(--button-text-color);
  margin-bottom: 16px;
}

.subscribe-footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: var(--button-text-color);
  padding-left: 16px;
  background-color: transparent;
}
.subscribe-footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
}
.subscribe-btn {
  justify-content: center;
  align-items: center;
  padding: 8px 64px 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--button-main-color);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--button-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  position: relative;
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--button-hover-color);
}
.subscribe-button-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--button-text-color);
}

/* style for PORTFOLIO page*/
/* filter/radio+buttons-*/
.main-portfolio {
  padding: 96px 0px 120px 0px;
}
.filter-btn-list {
  margin-bottom: 72px;
  justify-content: center;
  display: flex;
  gap: 24px;
}
.filter-btn-text {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;

  font-family: inherit;
  background-color: var(--background-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: transparent;
  cursor: pointer;
  color: var(--button-main-color);
  /*  Set transition values  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn-text:hover,
.filter-btn-text:focus {
  color: var(--button-text-color);
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* --Work types-*/
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.work-type {
  flex-basis: calc(100% / 3-24px);
  background-color: var(--background-work-card);
}
.work-type-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.work-type-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.work-type-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.work-link {
  display: block;
  /*  Set transition values  */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-link:hover .work-text-cover,
.work-link:focus .work-text-cover {
  transform: translateY(0);
}

.work-wrap-cover {
  position: relative;
  overflow: hidden;
}
.work-text-cover {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-team-color);
  background-color: var(--social-background-color);
  padding: 40px 32px;
  height: 100%;
  /*  Set transition values  */
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
